<div *ngIf="company" class="col-sm-8">


  <div class="well">
      <h2>{{company.name}} details!</h2>
          <div>
              <label>Company Name: </label>
              <span *ngIf="editMode">{{company.name}}</span>
              <input [(ngModel)]="company.name" *ngIf="!editMode" placeholder="name" />
              <button *ngIf="editMode" (click)="triggerEditMode()">Edit</button>
              <button [hidden]="editMode" (click)="save()">Done</button>
          </div>
          
          <div>
              <label>Address:</label><br>
                <p>{{company.name}}<br>
                  {{company.address.street}} {{company.address.zip}} <br>
                     {{company.address.city}} {{company.address.province}}
                </p>
          </div>
          
          
  </div>
  
  <div class="well">
  

    
    <div   class="form">
    <label>Dids :</label >
        <ul>
            
            <li *ngFor="let did of dids; let i=index">
                <span *ngIf="editMode">{{did.number}}</span>

                <input #didText type="text" [(ngModel)]="did.number"  *ngIf="!editMode"  placeholder="did" />
                <button *ngIf="editMode" (click)="triggerEditMode(i)">Edit</button>
                <button [hidden]="editMode" (click)="saveDid(did)">Done</button>
                <button *ngIf="editMode" (click)="deleteDid(i)">Delete</button>
            </li>
        </ul>
    </div>
  </div>
  
  <div class="well">
    
    
      <p>
          <label>Locked:</label>&nbsp;&nbsp;&nbsp;
          <span>{{company.locked}} </span>
        </p>

        <p>
          <label>Balance:</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <span>{{company.balance}}</span>
        </p>
     
    </div>

    


    <div class="well" >

      
      <div>
  
      <input #searchBox  placeholder="Search by username" [(ngModel)]="filter" [ngModelOptions]="{debounce: 500}"  />
  
          
          <button type="submit" (click)="setAllUsers()" >
              View All
          </button>
 

  
    </div>
      <div *ngIf="users.length > 0">
      <label>Users:</label>
          <div class="" *ngFor="let user of users | filterUsers: filter; let i = index">
            <span>{{user.firstName}} {{user.lastName}} {{user.email}} </span>
            <button data-toggle="modal" data-target="#myModalPwd" (click)="setCurrentUser(user)">Reset Pwd</button>
            <button (click)="searchDevicesForUsername(user)">View Devices</button>
            <button (click)="deleteUser(user)">Delete</button>

          </div>
          </div>
          <span *ngIf="users.length < 1" >la ricerca non ha prdotto alcun risultato</span>


          
    </div>

    
    

  <div class="well" *ngIf="devices">

    <h3>Devices</h3>

    
    

      <select  [(ngModel)]="typeDeviceFilter" >
        <option selected value="all">All</option>
        <option value="pc">Pc</option>
        <option value="mop">Mop</option>
      </select>



  
  
    


  <table class="table" >
    <thead>
      <tr>
        <th>type</th>
        
      </tr>
    </thead>

    <tbody *ngFor="let device of devices | filterDevices : typeDeviceFilter ; let i=index">
      <tr >

          <td>{{device.type}}</td>
          
          <button data-toggle="modal" data-target="#modalDeviceDetail" (click)="setCurrentDevice(i)" type="button" name="button">details</button>
      </tr>

    </tbody>
  </table>
</div>


</div>



<div class="col-sm-4" *ngIf="company">
  <div class="well" >
  <h2>Main Actions</h2>
      <button type="button" name="button" (click)="openControlPanel()">Control Panel</button><br>
      <button *ngIf="company.locked" (click)="unlock()">Unlock</button>
      <button *ngIf="!company.locked" (click)="lock()">lock</button><br>
      <button data-toggle="modal" data-target="#myModalUser">add user</button><br>
      
      <button data-toggle="modal" data-target="#myModalDid">Add Did</button><br>
      <button type="button" name="button">Add Snom</button><br>
      <button data-toggle="modal" data-target="#myModalDevice" (click)=setDeviceNull()>Add Device</button><br>
      <button data-toggle="modal" data-target="#myModalCredit">Add Credit</button>
</div>
</div>




 <div class="modal fade" id="myModalCredit" role="dialog">
   <div class="modal-dialog">

     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Add credit</h4>
       </div>
       <div class="modal-body">
         <form id="creditForm">
         <input #credit type="number" placeholder="credit"/>  €
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addCredit(credit.value)">Add</button>
       </div>
     </div>

   </div>
 </div>


  <div class="modal fade" id="myModalDid" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Did</h4>
        </div>
        <div class="modal-body">
        <form id="didForm">
          <input #did type="text" placeholder="did"/>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addDid(did.value)">Add</button>
        </div>
      </div>

    </div>
  </div>

<!--

   <div class="modal fade" id="myModalPwd" role="dialog">
     <div class="modal-dialog">

       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Reset Password</h4>
         </div>
         <div class="modal-body">
           <form id="myForm">


           <input #pwd type="password" placeholder="password" value="{{password}}" />
           <input #repeteadPwd type="password" placeholder="repeatedPassword" value="{{password}}" />
           <button type="button" name="button" (click)="generate()">generate</button><br>
           <span style="color:red">{{msg}}</span>
            </form>
         </div>
         <div class="modal-footer">
           <button id="buttonPwdModal" type="button" class="btn btn-default" (click)="resetPwd(pwd.value, repeteadPwd.value)">Reset</button>
         </div>
       </div>

     </div>
   </div>


    <div class="modal fade" id="myModalDevice" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Device</h4>
          </div>
          <div class="modal-body">
            <input #deviceType type="text" placeholder="type" [(ngModel)]="newDevice.type" />
            <input #deviceName type="text" placeholder="name" [(ngModel)]="newDevice.name"/>
            <input #deviceUserName type="text" placeholder="username" [(ngModel)]="newDevice.username"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addDevice()">Add</button>
          </div>
        </div>

      </div>
    </div>
-->
    <div class="modal fade" id="myModalUser" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">AddUser</h4>
          </div>
          <div class="modal-body">

          
            FirstName: <input  type="text" placeholder="firstname" [(ngModel)]="newUser.firstName" />
            
            
            LastName: <input  type="text" placeholder="lastname" [(ngModel)]="newUser.lastName" /><br>
            
            Email: <input  type="text" placeholder="email" [(ngModel)]="newUser.email" /><br>
            
            PhoneNumber: <input  type="text" placeholder="phoneNumber" [(ngModel)]="newUser.phoneNumber" />
            
            Extension: <input  type="text" placeholder="extension" [(ngModel)]="newUser.extension" /><br>
           
            Enabled: <input type="checkbox" name="enabled" [(ngModel)]="newUser.enabled">
            
            IsAdministrator: <input type="checkbox" name="enabled" [(ngModel)]="newUser.isAdministrator"><br>
            
            
          
          </div>
          <div class="modal-footer">
            <button id="buttonUserModal" type="button" class="btn btn-default"  (click)="addUser()">Add</button>
          </div>
        </div>

      </div>
    </div>

<!--
     <div class="modal fade" id="modalDeviceDetail" role="dialog">
       <div class="modal-dialog">

         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Device detail</h4>
           </div>
           <div class="modal-body">

              <div class="row">
                <div class="col-lg-2">codecOrder3G</div>
                <div class="col-lg-2"><input type="text" [(ngModel)]="device.codecOrder3G"/></div>
              </div>
              <div class="row">
                <div class="col-lg-2">codecOrder</div>
                <div class="col-lg-2"><input type="text" [(ngModel)]="device.codecOrder" /></div>
              </div>
              <div class="row">
                <div class="col-lg-2">dtmfAll</div>
                <div class="col-lg-2"><input type="checkbox" [(ngModel)]="device.dtmfAll" /></div>
              </div>
              <div class="row">
                <div class="col-lg-2">dtmfOrder</div>
                <div class="col-lg-2"><input type="text" [(ngModel)]="device.dtmfOrder"/></div>
              </div>
              <div class="row">
                <div class="col-lg-2">honorFirstCodec</div>
                <div class="col-lg-2"><input type="checkbox" [(ngModel)]="device.honorFirstCodec" /></div>
              </div>
              <div class="row">
                <div class="col-lg-2">honorFirstCodec3G</div>
                <div class="col-lg-2"><input type="checkbox" [(ngModel)]="device.honorFirstCodec3G" /></div>
              </div>


    





           </div>
           <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveDevice()">Save</button>
           </div>
         </div>

       </div>
     </div>
-->