/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #8FBC8F;
      
      
      min-height: 100%;

    }

    .text-left{
      background-color: #B0C4DE;
      min-height:100%;
      max-height: auto;
    }


    .navbar-inverse{
      background-color: #3CB371;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }



    h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {

  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #B0C4DE;
  border-radius: 4px;
  padding-top: 3px;
    padding-left: 10px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}






.modal-header, h4, .close {
      background-color: #8FBC8F;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #8FBC8F;
  }
